<h2 >Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :validate => true ) do |f| %>
  <%= devise_error_messages! %>

<div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %>
</div>

<div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name , autocomplete: "off"%>
  </div>
  
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email , autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :resume %>
    <em> resume must be in pdf format</em> <br>
    <%= f.file_field :resume, autocomplete: "off" %>
  </div><br>

  <div class="field">
    <%= f.label :role %>
  <%= f.collection_select :role_id, Role.all, :id, :role %>
  </div>

<div class="field">
  <%= f.check_box :terms_accepted %>&nbsp;&nbsp;&nbsp; 
  <%= link_to "Terms of Services", terms_candition_path %>
  </div>  
<br>
  <div class="actions">
    <%= f.submit "Sign up", :class => 'btn btn-primary'  %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
