<%= form_for(@salesman) do |f| %>
  <% if @salesman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salesman.errors.count, "error") %> prohibited this salesman from being saved:</h2>

      <ul>
      <% @salesman.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name , :class => 'control-label' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address , :class => 'control-label' %>
    <%= f.text_field :address %>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                salesmen_path, :class => 'btn' %>
  </div>
<% end %>
