<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @investor.Company %>
</p>

<p>
  <strong>Equity investment:</strong>
  <%= @investor.Equity_Investment %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @investor.Revenue %>
</p>

<p>
  <strong>Ebitda:</strong>
  <%= @investor.EBITDA %>
</p>

<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>
