<%- model_class = Product -%>
<title><%= @product.name %></title>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @product.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= image_tag @product.photo.url(:original) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @product.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @product.quantity %></dd>
  <dd>
    <dd>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://mysterious-wildwood-8925.herokuapp.com/products/" data-via="chourey_sandeep" data-size="large" data-related="chourey_sandeep" data-hashtags="SocialShareButtons" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </dd>

    <dd><div class="fb-like" data-href="https://mysterious-wildwood-8925.herokuapp.com/products/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></dd>

  <dd><div class="fb-comments" data-href="https://mysterious-wildwood-8925.herokuapp.com/products/" data-numposts="5" data-colorscheme="light"></div></dd>
</dl>

<% if user_signed_in? && current_user.admin? %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=196293653897861&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=196293653897861&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
    $(".fb-like").attr("data-href", window.location.href);
</script>

<script>
    $(".fb-comments").attr("data-href", window.location.href);
</script>


<%#= tweet_button(:via => "Sandeepchourey", :url => "https://mysterious-wildwood-8925.herokuapp.com/products", :text => @product.name ) %>