<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
        <!-- bootstrap -->
        <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet">      
        <link href="/assets/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
        
        <link href="/assets/stylesheets/bootstrappage.css" rel="stylesheet"/>
        
        <!-- global styles -->
        <link href="/assets/stylesheets/flexslider.css" rel="stylesheet"/>
        <link href="/assets/stylesheets/main.css" rel="stylesheet"/>

        <!-- scripts -->
        <script src="/assets/javascripts/jquery-1.7.2.min.js"></script>
        <script src="/assets/javascripts/bootstrap.min.js"></script>               
        <script src="/assets/javascripts/superfish.js"></script>  
        <script src="/assets/javascripts/jquery.scrolltotop.js"></script>
        <%#= stylesheet_link_tag "application", :media => "all" %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
    </head>
    <body>      
        <div id="top-bar" class="container">
            <div class="row">
                <div class="span4">
                    <%= form_tag products_path, :method => 'get' do %> 
                        <%= text_field_tag :search, params[:search], class:"input-block-level search-query", Placeholder:"Search" %>
                    <% end %>
                </div>
                <div class="span8">
                    <div class="account pull-right">
                        <ul class="user-menu">              
                            <li><%= link_to 'My Account', account_path %></li>                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper" class="container">
            <section class="navbar main-menu">
                <div class="navbar-inner main-menu">                
                    <!-- <a href="/" class="logo pull-left"><img src="/assets/images/logo.png" class="site_logo" alt=""></a> -->
                    <nav id="menu" class="pull-right">
                        <ul>
                            <% if user_signed_in? %>
                <li><%= link_to "Log out",  destroy_user_session_path , :method => :delete %></li>
                <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |</li>
            <% if current_user.admin? %>
              <li><%= link_to 'Create Category', new_category_path %></li>
              <li><%= link_to 'Create Product', new_product_path %> </li>
              <%#= link_to 'Create Salesman', new_salesman_path %>
              <li><%= link_to 'Create Role', new_role_path %> </li>
              <li><%= link_to 'Show Dealers', dealer_path %> </li>
              <li><%= link_to 'Show Categories', categories_path %> </li>
              <li><%= link_to 'Show Products', products_path %></li>
              <li><%= link_to 'Analytics', analytics_path %></li>
             <%#= link_to 'Show Salesman', salesmen_path %>
              <% elsif current_user.dealer? && !current_user.admin? %>
                <li><%= link_to 'Show Products', products_path %></li>
                <li><%= link_to 'Show Categories', categories_path %></li>
                <%#= link_to 'Show Salesman', salesmen_path %>
                <%#= link_to 'Create Salesman', new_salesman_path %> 
              <% end %>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %> </li>
              <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
                        </ul>
                    </nav>
                </div>
            </section>
            <section  class="homepage-slider" id="home-slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">
                            <img src="/assets/images/carousel/banner-1.jpg" alt="" />
                        </li>
                        <li style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;" class="flex-active-slide">
                            <img src="/assets/images/carousel/banner-2.jpg" alt="" />
                            <div class="intro">
                                <h1>Mid season sale</h1>
                                <p><span>Up to 50% Off</span></p>
                                <p><span>On selected items online and in stores</span></p>
                            </div>
                        </li>
                    </ul>
                </div>          
            </section>
            <section class="header_text">
                We stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates. 
                <br/>Don't miss to use our cheap abd best bootstrap templates.
            </section>
            <section class="main-content">
                <div class="row">
                    </div>
            </section>
            
            <%= yield %>
            <section id="footer-bar">
                <div class="row">
                    <div class="span3">
                        <h4>Navigation</h4>
                        <ul class="nav">
                            <li><a href="#">Homepage</a></li>  
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contac Us</a></li>
                            <li><a href="#">Your Cart</a></li>
                            <li><a href="#">Login</a></li>                            
                        </ul>                   
                    </div>
                    <div class="span4">
                        <h4>My Account</h4>
                        <ul class="nav">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul>
                    </div>
                    <div class="span5">
                        <p class="logo"><img src="/assets/images/logo.png" class="site_logo" alt=""></p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
                        <br/>
                        <span class="social_icons">
                            <a class="facebook" href="#">Facebook</a>
                            <a class="twitter" href="#">Twitter</a>
                            <a class="skype" href="#">Skype</a>
                            <a class="vimeo" href="#">Vimeo</a>
                        </span>
                    </div>                  
                </div>  
            </section>
        </div>
        <script src="/assets/javascripts/jquery.flexslider-min.js"></script>
        <script type="text/javascript">
            $(function() {
                $(document).ready(function() {
                    $('.flexslider').flexslider({
                        animation: "fade",
                        slideshowSpeed: 4000,
                        animationSpeed: 600,
                        controlNav: false,
                        directionNav: true,
                        controlsContainer: ".flex-container" // the container that holds the flexslider
                    });
                });
            });
        </script>
    </body>
</html>