<!DOCTYPE html>
<html>
<head>
  <title>ShowroomMatic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
            <!-- Logged in as <strong><%= current_user.email %></strong><br> -->
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% if current_user.admin? %>
              <li><%= link_to 'Create Category', new_category_path %></li>
              <li><%= link_to 'Create Product', new_product_path %> </li>
              <li><%= link_to 'Show Dealers', welcome_show_dealer_path %> </li>
              <li><%= link_to 'Show Categories', categories_path %> </li>
              <li><%= link_to 'Show Products', products_path %></li>
              <% elsif current_user.dealer? && !current_user.admin? %>
                <li><%= link_to 'Show Products', products_path %></li>
                <li><%= link_to 'Show Categories', categories_path %></li>
              <% else  %>
              <li><%= link_to "Sign up", new_user_registration_path %> </li>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <% end %>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %> </li>
              <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>

<%= yield %>

</body>
</html>
